<dl class="dl-horizontal">

<p></p><hr><dt>2019</dt>
<dd><b>Instance Generation via Generator Instances</b><br>Özgür Akgün, Nguyen Dang, Ian Miguel, András Z. Salamon, Christopher Stone
<br>Principles and Practice of Constraint Programming - 25th International Conference, {CP} 2019, Stamford, CT, USA, September 30 - October 4, 2019, Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-30048-7\_1">10.1007/978-3-030-30048-7\_1</a>
<br>URL: <a href="https://doi.org/10.1007/978-3-030-30048-7\_1">https://doi.org/10.1007/978-3-030-30048-7\_1</a></dd>

<p></p>
<dd><b>Automatic Streamlining for Constrained Optimisation</b><br>Patrick Spracklen, Nguyen Dang, Özgür Akgün, Ian Miguel
<br>Principles and Practice of Constraint Programming - 25th International Conference, {CP} 2019, Stamford, CT, USA, September 30 - October 4, 2019, Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-030-30048-7\_22">10.1007/978-3-030-30048-7\_22</a>
<br>URL: <a href="https://doi.org/10.1007/978-3-030-30048-7\_22">https://doi.org/10.1007/978-3-030-30048-7\_22</a></dd>

<p></p>
<dd><b>Conjure Documentation, Release 2.3.0</b><br>Özgür Akgün, András Z. Salamon
<br>CoRR
<br>URL: <a href="http://arxiv.org/abs/1910.00475">http://arxiv.org/abs/1910.00475</a></dd>

<p></p><hr><dt>2018</dt>
<dd><b>Automatic Generation and Selection of Streamlined Constraint Models via Monte Carlo Search on a Model Lattice</b><br>Patrick Spracklen, Özgür Akgün, Ian Miguel
<br>Principles and Practice of Constraint Programming - 24th International Conference, {CP} 2018, Lille, France, August 27-31, 2018, Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-98334-9\_24">10.1007/978-3-319-98334-9\_24</a>
<br>URL: <a href="https://doi.org/10.1007/978-3-319-98334-9\_24">https://doi.org/10.1007/978-3-319-98334-9\_24</a></dd>

<p></p>
<dd><b>A Framework for Constraint Based Local Search using Essence</b><br>Özgür Akgün, Saad Attieh, Ian Gent, Christopher Jefferson, Ian Miguel, Peter Nightingale, András Z. Salamon, Patrick Spracklen, James Wetter
<br>Proceedings of the Twenty-Seventh International Joint Conference on Artificial Intelligence, {IJCAI} 2018, July 13-19, 2018, Stockholm, Sweden, ijcai.org
<br>DOI: <a href="https://doi.org/10.24963/ijcai.2018/173">10.24963/ijcai.2018/173</a>
<br>URL: <a href="https://doi.org/10.24963/ijcai.2018/173">https://doi.org/10.24963/ijcai.2018/173</a></dd>

<p></p>
<dd><b>Memory Consistency Models using Constraints</b><br>Ruth Hoffmann, Özgür Akgün, Susmit Sarkar
<br>CoRR
<br>URL: <a href="http://arxiv.org/abs/1808.09870">http://arxiv.org/abs/1808.09870</a></dd>

<p></p><hr><dt>2017</dt>
<dd><b>Automatically improving constraint models in Savile Row</b><br>Peter Nightingale, Özgür Akgün, Ian Gent, Christopher Jefferson, Ian Miguel, Patrick Spracklen
<br>Artif. Intell.
<br>DOI: <a href="https://doi.org/10.1016/j.artint.2017.07.001">10.1016/j.artint.2017.07.001</a>
<br>URL: <a href="https://doi.org/10.1016/j.artint.2017.07.001">https://doi.org/10.1016/j.artint.2017.07.001</a></dd>

<p></p><hr><dt>2015</dt>
<dd><b>Automatically Generating Streamlined Constraint Models with Essence and Conjure</b><br>James Wetter, Özgür Akgün, Ian Miguel
<br>Principles and Practice of Constraint Programming - 21st International Conference, {CP} 2015, Cork, Ireland, August 31 - September 4, 2015, Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-23219-5\_34">10.1007/978-3-319-23219-5\_34</a>
<br>URL: <a href="https://doi.org/10.1007/978-3-319-23219-5\_34">https://doi.org/10.1007/978-3-319-23219-5\_34</a></dd>

<p></p><hr><dt>2014</dt>
<dd><b>Extensible automated constraint modelling via refinement of abstract problem specifications</b><br>Özgür Akgün
<br>University of St Andrews, {UK}
<br>URL: <a href="http://hdl.handle.net/10023/6547">http://hdl.handle.net/10023/6547</a></dd>

<p></p>
<dd><b>Automatically Improving Constraint Models in Savile Row through Associative-Commutative Common Subexpression Elimination</b><br>Peter Nightingale, Özgür Akgün, Ian Gent, Christopher Jefferson, Ian Miguel
<br>Principles and Practice of Constraint Programming - 20th International Conference, {CP} 2014, Lyon, France, September 8-12, 2014. Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-319-10428-7\_43">10.1007/978-3-319-10428-7\_43</a>
<br>URL: <a href="https://doi.org/10.1007/978-3-319-10428-7\_43">https://doi.org/10.1007/978-3-319-10428-7\_43</a></dd>

<p></p>
<dd><b>Breaking Conditional Symmetry in Automated Constraint Modelling with {Conjure}</b><br>Özgür Akgün, Ian Gent, Christopher Jefferson, Ian Miguel, Peter Nightingale
<br>{ECAI} 2014 - 21st European Conference on Artificial Intelligence, 18-22 August 2014, Prague, Czech Republic - Including Prestigious Applications of Intelligent Systems {(PAIS} 2014), {IOS} Press
<br>DOI: <a href="https://doi.org/10.3233/978-1-61499-419-0-3">10.3233/978-1-61499-419-0-3</a>
<br>URL: <a href="https://doi.org/10.3233/978-1-61499-419-0-3">https://doi.org/10.3233/978-1-61499-419-0-3</a></dd>

<p></p><hr><dt>2013</dt>
<dd><b>Automated Symmetry Breaking and Model Selection in Conjure</b><br>Özgür Akgün, Alan M. Frisch, Ian Gent, Bilal Syed Hussain, Christopher Jefferson, Lars Kotthoff, Ian Miguel, Peter Nightingale
<br>Principles and Practice of Constraint Programming - 19th International Conference, {CP} 2013, Uppsala, Sweden, September 16-20, 2013. Proceedings, Springer
<br>DOI: <a href="https://doi.org/10.1007/978-3-642-40627-0\_11">10.1007/978-3-642-40627-0\_11</a>
<br>URL: <a href="https://doi.org/10.1007/978-3-642-40627-0\_11">https://doi.org/10.1007/978-3-642-40627-0\_11</a></dd>

<p></p><hr><dt>2011</dt>
<dd><b>Extensible Automated Constraint Modelling</b><br>Özgür Akgün, Ian Miguel, Christopher Jefferson, Alan M. Frisch, Brahim Hnich
<br>Proceedings of the Twenty-Fifth {AAAI} Conference on Artificial Intelligence, {AAAI} 2011, San Francisco, California, USA, August 7-11, 2011, {AAAI} Press
<br>URL: <a href="http://www.aaai.org/ocs/index.php/AAAI/AAAI11/paper/view/3687">http://www.aaai.org/ocs/index.php/AAAI/AAAI11/paper/view/3687</a></dd>

<p></p>
<dd><b>Conjure Revisited: Towards Automated Constraint Modelling</b><br>Özgür Akgün, Alan M. Frisch, Brahim Hnich, Christopher Jefferson, Ian Miguel
<br>CoRR
<br>URL: <a href="http://arxiv.org/abs/1109.1774">http://arxiv.org/abs/1109.1774</a></dd>

</dl>
