<dl class="dl-horizontal">

<p></p><hr><dt>2019</dt>
<dd><b>Conjure Documentation, Release 2.3.0</b><br>Özgür Akgün, András Z. Salamon
<br>CoRR
<br>URL: <a href="http://arxiv.org/abs/1910.00475">http://arxiv.org/abs/1910.00475</a></dd>

<p></p><hr><dt>2018</dt>
<dd><b>Memory Consistency Models using Constraints</b><br>Ruth Hoffmann, Özgür Akgün, Susmit Sarkar
<br>CoRR
<br>URL: <a href="http://arxiv.org/abs/1808.09870">http://arxiv.org/abs/1808.09870</a></dd>

<p></p><hr><dt>2011</dt>
<dd><b>Conjure Revisited: Towards Automated Constraint Modelling</b><br>Özgür Akgün, Alan M. Frisch, Brahim Hnich, Christopher Jefferson, Ian Miguel
<br>CoRR
<br>URL: <a href="http://arxiv.org/abs/1109.1774">http://arxiv.org/abs/1109.1774</a></dd>

</dl>
